.App {
  text-align: center;
}


@media only screen and (max-width: 414px) {
  .product-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.addToCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    column-gap: 4px;
} 

}
.pagination{
  margin: 0 auto;
  margin-top: 100px;
}
.pagination button{
  color: black;
  margin-left: 10px;
  padding: 7px;
  border: 1px solid gainsboro;
  border-radius: 2px;
}

.pagination .selected{
  color: white;
  background-color: black;
  font-weight: bold;
}
.float{
  display: none;
}




